* {
    box-sizing: border-box;
}

form {
    width: 60%;
    margin: 0 auto;
    border: 2px solid lightslategray;
    padding: 20px;
}

.outer-border {
    border: 2px solid lightslategray;
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom :20px;
}

#button {
    background-color: green;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

select {
    padding: 5px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}